.idea
CensusLocalAreaProfiles2016.csv
CensusLocalAreaProfiles2011.csv
CensusLocalAreaProfiles2006.csv
property-tax-report.csv
property-addresses.csv
property-tax-report-2006-2013.csv
preprocessed_complete_2006_2016.csv
